@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

nav {
  font-family: "Cute Font", cursive;
  background-color: transparent;
}

nav .container-fluid .navbar-brand {
  font-size: 2rem;
  font-weight: bolder;
}

nav .navbar-collapse ul .nav-item {
  font-size: 1.7rem;
  margin: 0 1rem;
}

nav .navbar-collapse ul .nav-item a {
  color: #000;
}

#main-section .main-div .distortion {
  width: 100%;
  height: 200px;
}

#main-section .main-div .container-fluid {
  background-image: linear-gradient(37deg, rgba(0, 0, 0, 0.7), rgba(1, 1, 1, 0.5)), url(../kinshuk-bose-oXHCpSjWSqs-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#main-section .main-div .container-fluid .quote {
  color: #e0c56e;
}

#main-section .main-div .container-fluid .quote i {
  font-size: large;
  position: relative;
  bottom: 30px;
}

#main-section .main-div .container-fluid .quote-by {
  font-size: large;
}

#main-section .main-div .container-fluid .abt-title {
  color: #fff;
  font-size: 2rem;
}

#main-section .main-div .container-fluid .row-2 .card {
  border-radius: 20px;
  padding: 5px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: large;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main-section .main-div .container-fluid .row-2 .card .card-img-top {
  border-radius: 20px;
}

#main-section .main-div .container-fluid .row-2 .card .card-title {
  letter-spacing: 1px;
  font-weight: 800;
}

#main-section .main-div .container-fluid .row-2 .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/footer/pexels-the-lazy-artist.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/footer/pexels-the-lazy-artist.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  z-index: 0;
}

#footer .container {
  position: relative;
  z-index: 1;
}

#footer .container .ftr-row-1 {
  padding-top: 1rem;
}

#footer .container .ftr-row-1 .ftr-column-1 .footer-logo .footer-logo-img {
  width: 20%;
}

#footer .container .ftr-row-1 .ftr-column-1 .footer-text {
  color: white;
}

#footer .container .ftr-row-1 .ftr-column-2 h6 {
  font-size: 1.5rem;
  color: white;
}

#footer .container .ftr-row-1 .ftr-column-2 p {
  color: white;
}

#footer hr {
  background-color: #eb311f;
  border-width: thick;
  -webkit-box-shadow: 0 0 10px #eb311f, inset 0 0 20px #eb311f;
          box-shadow: 0 0 10px #eb311f, inset 0 0 20px #eb311f;
}

#footer .ftr-row-2 .ftr-column-1 .copyright {
  color: white;
}

#footer .ftr-row-2 .ftr-column-2 .social a {
  color: #e0e0ce;
}

#footer .ftr-row-2 .ftr-column-2 .social a .facebook,
#footer .ftr-row-2 .ftr-column-2 .social a .instagram,
#footer .ftr-row-2 .ftr-column-2 .social a .twitter,
#footer .ftr-row-2 .ftr-column-2 .social a .phone {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#footer .ftr-row-2 .ftr-column-2 .social a .facebook:hover,
#footer .ftr-row-2 .ftr-column-2 .social a .instagram:hover,
#footer .ftr-row-2 .ftr-column-2 .social a .twitter:hover,
#footer .ftr-row-2 .ftr-column-2 .social a .phone:hover {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

#footer .ftr-row-2 .ftr-column-2 .social a .facebook:hover {
  color: #007fff;
}

#footer .ftr-row-2 .ftr-column-2 .social a .instagram:hover {
  color: #ee4266;
}

#footer .ftr-row-2 .ftr-column-2 .social a .twitter:hover {
  color: #08a4bd;
}

#footer .ftr-row-2 .ftr-column-2 .social a .phone:hover {
  color: #05f140;
}
