//navbar font
@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;

  //font-family: "Ubuntu", sans-serif;
}

// *** Global END ***
//
//
//**************************************************************************
//
//
// ********** Navigation Bar START **********
nav {
  //background-color: #202d3c;
  font-family: "Cute Font", cursive;
  background-color: transparent;

  // background-image: repeating-linear-gradient(
  //     135deg,
  //     rgba(244, 244, 244, 0.06) 0px,
  //     rgba(244, 244, 244, 0.06) 46px,
  //     rgba(92, 92, 92, 0.06) 46px,
  //     rgba(92, 92, 92, 0.06) 79px,
  //     rgba(208, 208, 208, 0.06) 79px,
  //     rgba(208, 208, 208, 0.06) 119px,
  //     rgba(87, 87, 87, 0.06) 119px,
  //     rgba(87, 87, 87, 0.06) 162px,
  //     rgba(8, 8, 8, 0.06) 162px,
  //     rgba(8, 8, 8, 0.06) 187px,
  //     rgba(206, 206, 206, 0.06) 187px,
  //     rgba(206, 206, 206, 0.06) 211px,
  //     rgba(183, 183, 183, 0.06) 211px,
  //     rgba(183, 183, 183, 0.06) 247px,
  //     rgba(21, 21, 21, 0.06) 247px,
  //     rgba(21, 21, 21, 0.06) 288px
  //   ),
  //   repeating-linear-gradient(
  //     135deg,
  //     rgba(148, 148, 148, 0.06) 0px,
  //     rgba(148, 148, 148, 0.06) 28px,
  //     rgba(104, 104, 104, 0.06) 28px,
  //     rgba(104, 104, 104, 0.06) 58px,
  //     rgba(236, 236, 236, 0.06) 58px,
  //     rgba(236, 236, 236, 0.06) 101px,
  //     rgba(245, 245, 245, 0.06) 101px,
  //     rgba(245, 245, 245, 0.06) 128px,
  //     rgba(104, 104, 104, 0.06) 128px,
  //     rgba(104, 104, 104, 0.06) 167px,
  //     rgba(90, 90, 90, 0.06) 167px,
  //     rgba(90, 90, 90, 0.06) 216px,
  //     rgba(31, 31, 31, 0.06) 216px,
  //     rgba(31, 31, 31, 0.06) 260px,
  //     rgba(25, 25, 25, 0.06) 260px,
  //     rgba(25, 25, 25, 0.06) 305px
  //   ),
  //   repeating-linear-gradient(
  //     135deg,
  //     rgba(221, 221, 221, 0.06) 0px,
  //     rgba(221, 221, 221, 0.06) 20px,
  //     rgba(154, 154, 154, 0.06) 20px,
  //     rgba(154, 154, 154, 0.06) 66px,
  //     rgba(60, 60, 60, 0.06) 66px,
  //     rgba(60, 60, 60, 0.06) 88px,
  //     rgba(170, 170, 170, 0.06) 88px,
  //     rgba(170, 170, 170, 0.06) 115px,
  //     rgba(241, 241, 241, 0.06) 115px,
  //     rgba(241, 241, 241, 0.06) 131px,
  //     rgba(99, 99, 99, 0.06) 131px,
  //     rgba(99, 99, 99, 0.06) 147px,
  //     rgba(203, 203, 203, 0.06) 147px,
  //     rgba(203, 203, 203, 0.06) 193px,
  //     rgba(83, 83, 83, 0.06) 193px,
  //     rgba(83, 83, 83, 0.06) 204px
  //   ),
  //   linear-gradient(90deg, rgb(248, 8, 31), rgb(88, 39, 62));

  .container-fluid {
    .navbar-brand {
      font-size: 2rem;
      font-weight: bolder;
    }
  }
  .navbar-collapse {
    ul {
      .nav-item {
        font-size: 1.7rem;
        margin: 0 1rem;
      }
    }
  }
}

.bg {
  width: 100%;
  height: 100vh;
  //background-color: aqua;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

// #contact-us {
//   position: relative;
//   .main-div {
//     figure {
//       img {
//         width: 100%;
//         height: 300px;
//       }
//     }
//     .quote {
//       i {
//         font-size: large;
//         position: relative;
//         bottom: 30px;
//       }
//     }
//     .row-1 {
//       .quote-by-col {
//         h6 {
//           position: relative;
//           right: 8rem;
//           font-weight: bold;
//         }
//       }
//     }
//     .abt-title {
//       font-size: 1.5rem;
//     }
//   }
// }

// .wallpaper {
//   background-image: url(../images/contact-us-page/Layer.png);
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   left: 0;
//   top: 0;
//   background-repeat: no-repeat;
//   background-size: auto;
//   z-index: -11;
// }
// #contact-us {
//   background-image: linear-gradient(
//       rgba(52, 73, 94, 0.5),
//       rgba(52, 73, 94, 0.5)
//     ),
//     url(../images/logo/design_monks_logo.png);
//   background-repeat: no-repeat;
//   background-size: cover;
//   width: 100%;
//   height: 50%;
//   padding: 1rem 3rem;
//   position: relative;
//   z-index: 0;
//   .container {
//     position: relative;
//     z-index: 1;
//   }
// }
